<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css" />


    <link rel="stylesheet"href="/css/StyleSheet.css" />
    <link rel="icon" href="/img/icon.png" type="image/gif" sizes="16x16">


    <title>@ViewBag.Title</title>



</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f9a119;">
        <div class="container">
            <a class="navbar-brand" href="/Home"> E-Ticaret </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home">Ana Sayfa </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Product">Ürünler</a>
                    </li>
                </ul>

                @using (Html.BeginForm("GetAllProducts", "Product", FormMethod.Post))
                {
                    <p>
                        @Html.TextBox("p")
                        <button class="btn btn-outline-secondary btn-sm" type="submit">Ürün Ara  <i class="fa-thin fa-magnifying-glass-arrow-right"></i></button>
                    </p>
                }
            </div>

        </div>
    </nav>

    @RenderBody()






    

        <footer class="my-5">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/Home" class="nav-link px-2 text-muted"><i class="fa-solid fa-house"></i>Ana Sayfa</a></li>
                <li class="nav-item"><a href="/Product" class="nav-link px-2 text-muted"><i class="fa-solid fa-cart-shopping-fast"></i>Ürünler</a></li>
            </ul>
            <p class="text-center text-muted">© 2023 | E-Ticaret</p>
        </footer>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/holder.min.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>