
div.card-body {
    height: 100px;
}

.card-text {
    font-size: 12px;
}

img.card-img-top.img-fluid{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    width:auto;
}

.card-title {
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 1.35em;
    height: 34px;
}

.product-price {
    color: #414141;
    font-weight: 700;
    font-size: 13px;
}

#details h1 {
    font-size: 20px;
    font-weight: 700;
}

#write-review {
    margin-left: 50px;
}

#price {
    font-size: 25px;
    color: darkcyan;
}

html {
    position: relative;
    min-height: 100%;
}

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 0px;
    padding-left: 0px;
    color:black;
}
.footer{
    padding-top:1.5rem;
    padding-bottom:0px;
}

code {
    font-size: 80%;
}



html, body {
    font-family: sans-serif;
    padding: 0px;

}

img.card-img-top {
    height: 240px;
    width: 240px;
}


#price {
    font-size: 25px;
    color: darkcyan
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}