@using WA_EShop.Models;
@model IEnumerable<WA_EShop.Models.DB.Products>

@{
    // ViewBag.Title = "Ürünler";

    ViewData["Title"] = "Ürünler";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurretPage;
    }
    <link rel="stylesheet" href="/css/StyleSheet.css">
}



<div class="container pb-5">

    <div class="row">
        <div class="col-md-3">
            @await Component.InvokeAsync("Menu")
        </div>

        <div class="col-9">
            <div class="row">
                @foreach (Products item in Model)
                {
                    <div class="col-md-4 mb-5">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="../Images/@item.Picture" style="width:auto; height:200px;" alt="@item.ProductName">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/Product/Details/@item.ProductId">
                                        @item.ProductName
                                    </a>
                                </h5>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted product-price">
                                    @item.UnitPrice.Value.ToString("C")
                                </small>
                                <a href="/Product/Details/@item.ProductId" class="btn btn-outline-warning btn-sm float-right">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Ürünü İncele
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<partial name="_Pager" model="@pager" />