@model WA_EShop.Models.DB.Categories

@{
    ViewData["Title"] = "Kategori Silme | Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<div class="container float right">
    <h4>Kategori Silme</h4>
</div>
<hr />
<div class="container col-md-5">

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary"> <i class="fa-solid fa-backward"></i> Kategoriler</a>
    </form>
</div>
