
@{
    ViewData["Title"] = "Ana Sayfa | Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="container col-5 mr-6 mt-5">
    <a href="/Products"
        <button class="btn btn-primary btn-block mb-5">Ürünler</button></a>


    <a href="/Categories"
        <button class="btn btn-primary btn-block mb-5">Kategoriler</button></a>


    <a href="/Users"
        <button class="btn btn-primary btn-block mb-5">Kullanıcılar</button></a>
</div>

